@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


h1{
    font-size: 40px;

}


header {
    background-color: orange;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: transparent;
    color: black;
}

nav ul li:after {
    content: '';
    display: block;
    height: 3px;
    border-radius: 15px;
    width: 0;
    background: black;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li:hover:after {
    width: 100%;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    color: orange;
    margin-bottom: 20px;
}

section p {
    line-height: 1.6;
    font-size: 1.1em;
    color: #555;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

form input, form button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form button:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

form button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 45px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: orange;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section button{
    background-color: black;
    color: white;
    border-radius: 7px;

}

#departmentsList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#departmentsList li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}